POSTGRES_PASSWORD=root
POSTGRES_USER=root
POSTGRES_DB=challenge_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

RABBITMQ_USER=admin
RABBITMQ_PASS=admin

BROKER_URL=amqp://admin:admin@rabbitmq:5672

JWT_ACCESS_SECRET=unsecure_jwt_secret_access
JWT_REFRESH_SECRET=unsecure_jwt_secret_refresh

FRONTEND_ORIGIN=http://localhost:3000
AUTH_SERVICE_BASE_URL=http://auth-service:3002/auth
USERS_SERVICE_BASE_URL=http://auth-service:3002/users
TASKS_SERVICE_BASE_URL=http://tasks-service:3003/tasks
USERS_TASKS_SERVICE_BASE_URL=http://tasks-service:3003/users-tasks
TASK_AUDIT_LOGS_SERVICE_BASE_URL=http://tasks-service:3003/task-audit-logs
NOTIFICATIONS_SERVICE_BASE_URL=http://notifications-service:3004/notifications

VITE_API_URL=http://localhost:3001/api
VITE_NOTIFICATIONS_SERVICE_BASE_URL=http://localhost:3004


