@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.7495 0.219 138.0601);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.7495 0.219 138.0601);
  --chart-1: oklch(0.7495 0.219 138.0601);
  --chart-2: oklch(0.6318 0.1263 236.6149);
  --chart-3: oklch(0.6034 0.2577 328.2035);
  --chart-4: oklch(0.7026 0.1356 79.2059);
  --chart-5: oklch(0.7508 0.153 164.0109);
  --sidebar: oklch(0.9684 0.0068 247.8951);
  --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-primary: oklch(0.7495 0.219 138.0601);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.929 0.0126 255.5317);
  --sidebar-ring: oklch(0.7495 0.219 138.0601);
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.25);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2079 0.0399 265.7275);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.2079 0.0399 265.7275);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.2079 0.0399 265.7275);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.5327 0.1441 134.8403);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.28 0.0369 259.974);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.28 0.0369 259.974);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.28 0.0369 259.974);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.28 0.0369 259.974);
  --input: oklch(0.28 0.0369 259.974);
  --ring: oklch(0.5327 0.1441 134.8403);
  --chart-1: oklch(0.5327 0.1441 134.8403);
  --chart-2: oklch(0.562 0.1112 236.4001);
  --chart-3: oklch(0.536 0.2274 328.1893);
  --chart-4: oklch(0.6243 0.1196 79.419);
  --chart-5: oklch(0.6662 0.1348 164.1857);
  --sidebar: oklch(0.28 0.0369 259.974);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.5327 0.1441 134.8403);
  --sidebar-primary-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-accent: oklch(0.28 0.0369 259.974);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.28 0.0369 259.974);
  --sidebar-ring: oklch(0.5327 0.1441 134.8403);
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.15);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.15);
  --shadow-sm:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.3), 0 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.3), 0 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow-md:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.3), 0 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-lg:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.3), 0 4px 6px -1px hsl(0 0% 0% / 0.3);
  --shadow-xl:
    0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.3), 0 8px 10px -1px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@utility animate-fade-in {
  animation: fade-in 0.6s ease forwards;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: --var(--card);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: oklch(0.7495 0.219 138.0601);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: oklch(77.099% 0.2064 137.241);
  opacity: 0.6;
}
